<br>
<img src="/assets/images/icon.png" alt="icon" class="img-icon">
<h1>STAR WARS API</h1>
<br>
<h6><b>Please choose a ID:</b></h6>
<!-- Input Id -->
<input style=width:100% type='number' min=1 max=5 placeholder="id" class="form-control" [(ngModel)]="frmId" />
<h6><b>Please choose a Category:</b></h6>
<!-- Select Category -->
<select style=width:100% [(ngModel)]="whichCat" class="form-control">
  <option *ngFor='let item of choices'>{{item.cat}}</option>
</select>
<br /><br />
<!-- Retrieve Rest Data -->
<button style=width:100% (click)="handleClick()" class="btn btn-primary">Go</button>
<hr>
<div id=viewMode>
  <h2> Here are the results</h2>
  <div *ngIf='whichCat=="people"'>
    <div>
      Name: {{model.name}}
    </div>
    <div>
      Height: {{model.height}}
    </div>
    <div>
      Gender: {{model.gender}}
    </div>

  </div>
  <div *ngIf='whichCat=="planets"'>
    <div>
      Title: {{model.name}}
    </div>
    <div>
      Rotation period: {{model.rotation_period}}
    </div>
    <div>
      terrain: {{model.terrain}}
    </div>

  </div>
  <div *ngIf='whichCat=="vehicles"'>
    <div>
      Title: {{model.name}}

    </div>
    <div>
      Model:{{model.model}}
    </div>
  </div>
  <div *ngIf='whichCat=="species"'>
    <div>
      Title: {{model.name}}
      </div>
    </div>
    Classification: {{model.classification}}
    <div>
    </div>
    
    <div *ngIf='whichCat=="starships"'>

      <div>
        Title: {{model.name}}
      </div>

      <div>
        Model: {{model.model}}
      </div>

    </div>
    <section>
      <h3>Full Details</h3>
      <pre>{{model |json}}</pre>
    </section>
  </div>
  <br>
  <hr>
  <img src="/assets/images/droid.gif" alt="icon" class="img-droid">
  